<h1>Director #<%= @the_director.id %> details</h1>

<dl>
  <dt>Name</dt>
  <dd><%= @the_director.name %></dd>

  <dt>Date of birth</dt>
  <dd><%= @the_director.dob %></dd>

  <dt>Bio</dt>
  <dd><%= @the_director.bio %></dd>

  <dt>Filmography</dt>
  <dd>
    <% matching_movies = Movie.where({ :director_id => @the_director.id }) %>
    <% matching_movies.each do |movie| %>
      <div>
        <%= movie.title %>
        <a href="/movies/<%= movie.id %>">Show details</a>
      </div>
    <% end %>
  </dd>
</dl>

<hr>

<form action="/modify_director/<%= @the_director.id %>" method="post">
  <div>
    <label for="image_field">Image</label>
    <input id="image_field" type="text" name="query_image" value="<%= @the_director.image %>">
  </div>

  <button>Update director</button>
</form>

<a href="/delete_director/<%= @the_director.id %>">Delete director</a>
