<h1>
  Actor #<%= @actor.id %> details
</h1>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @actor.name %>
  </dd>

  <dt>
    Date of birth
  </dt>
  <dd>
    <%= @actor.dob %>
  </dd>

  <dt>
    Characters
  </dt>
  <dd>
    <% @characters.each do |character| %>
      <div>
        <%= character.name %>
        <% movie = Movie.where({ :id => character.movie_id }).first %>
        <% if movie.present? %>
          in <%= movie.title %>
          <% director = Director.where({ :id => movie.director_id }).first %>
          <% if director.present? %>
            (directed by <%= director.name %>)
          <% end %>
        <% end %>
      </div>
    <% end %>
  </dd>
</dl>

<hr>

<form action="/modify_actor/<%= @actor.id %>" method="post">
  <div>
    <label for="image_field">Image</label>
    <input id="image_field" type="text" name="query_image" value="<%= @actor.image %>">
  </div>

  <button>Update actor</button>
</form>

<div>
  <a href="/delete_actor/<%= @actor.id %>">Delete actor</a>
</div>

<div>
  <a href="/actors">Back to all actors</a>
</div>
